[package]
name = "snake"
version = "0.1.0"
authors = ["Patryk Chodur <patrykchodur@icloud.com>"]
license = "MIT"
edition = "2021"

[dependencies]
color-eyre = "0.6.2"
crossterm = "0.27.0"
ratatui = "0.24.0"
